.header-img {
    background-image: url(../Header/img/FonHeader.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
      background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
    width: 1280px;
    height: 768px;

}

.box-title__header {
    margin-left: 50px;
    margin-bottom: 87px;}

.title-header {
    width: 509px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #EBEBEB;
}
.container-button__header{
    margin-left: 50px;
}
.text-header {
    width: 509px;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    color: #EBEBEB;
}




.header-button__web {


    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #F1F0FF;
    width: 233px;
    height: 40px;
    border: none;

    background: #665CD1;
    border-radius: 31px;


}
button{
    transition: transform .23s;

}
    button:hover {
    color: rgba(47, 31, 187, 0.26); /* Колір посилання при наведенні на нього курсора миші */
    }



    