.wrappe-advantages{
    background: #FEFEFE;
    padding: 1px;

}
.container-popup__advantages {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-popup_advantages {
    margin-left: 50px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #665CD1;
}

.popup-advantages__top {
    display: flex;
    margin-bottom: 16px;
    gap: 80px;


}

.popup-advantages__bottom {
    display: flex;
    gap: 80px;


}

